{% set features = featureList %}
{% if level is defined %}
    {% set prefix = level %}
{% else %}
    {% set prefix = '' %}
{% endif %}
{% if parentString is defined %}
    {% set parentStringCurrent = parentString %}
{% else %}
    {% set parentStringCurrent = '' %}
{% endif %}
<ol style="list-style-type: none;">
    {% set index = 1 %}
    {% for feature, subElements in features %}
        <li>
            {% set completeFeatureString = parentStringCurrent ~ feature %}
            {% if subElements|length == 0 %}
                {% if links == true %}
                    {% set id = '#feature-docu-' ~ completeFeatureString|replace({'/': '-'}) %}
                    {% set linkOpen = '<a href="' ~ id ~ '">' %}
                    {% set linkClose = '</a>' %}
                {% else %}
                    {% set linkOpen = '' %}
                    {% set linkClose = '' %}
                {% endif %}
                {{ linkOpen|raw }}
                    {{ prefix ~ index ~'. ' ~ feature }}
                {{ linkClose|raw }}
            {% else %}
                {{ prefix ~ index ~'. ' ~ feature }}
                {% set level = prefix ~ index ~ '.' %}
                {% set featureList = subElements %}
                {% set parentString = completeFeatureString ~ '/' %}
                {% include 'featureDocuFeatureListHtml.html.twig' with [featureList, level, parentString] %}
            {% endif %}
        </li>
        {% set index = index + 1 %}
    {% endfor %}
</ol>